
body {
    background-color: rgb(243, 240, 224);
    font-family: 'Poppins';
    
}
h1,p {
 text-align: center;
}
h1, p {
    display: block;
    margin: 60px;
    padding: auto;
}

.croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

a {
    color: rgb(206, 117, 117);
}
footer {
    text-align: center;
}
footer a {
    margin: 0 10px;
    text-decoration: none;
}
